<form action="/admin/add-user-first-page" method="POST">

  <label for="input-role">Which type of user do you want to add?</label> <br>
  <select name="role">
    <option value="artist">Artist/Band</option>
    <option value="user">User</option>
  </select>
  <button class="my-btn">Submit</button>

</form>