<form action="/admin/add-user-first-page" method="POST"
  class="text-center border border-secondary p-5 m-1 rounded-sm align-middle">
  <h1 class='font-weight-bold my-3'>Add a user to Jam-up's Platform 🎵</h1>
  <h3>What's his/hers profile type?</h3>
  <select name="role" class="custom-select w-50 text-center my-2" id="inputGroupSelect04">
    <option selected>Choose here...</option>
    <option value="artist">Artist/Band</option>
    <option value="user">User</option>
  </select>
  <button class="btn btn-dark border-secondary my-2 w-50" type="submit">Submit</button>
</form>