<footer class="footer py-0 bg-dark">
  <a class="pt-3 pr-3 text-secondary nav-link text-center small" href="/about">by Catarina Mateus & Joana Rozendo <br> Ironhack Bootcamp Lisbon squad 174 - 2019</a>
</footer>