<div class="p-5 m-1 rounded-sm font-weight-bold">
  <p>Account confirmed.</p>
  <a href="/">Start Exploring!</a>
</div>

{{!-- DOESN'T WORK BECAUSE USER IS NOT DEFINED --}}

{{!-- {{#ifUser user}}
<a href="/user/profile/{{user._id}}">Profile</a>
{{/ifUser}}
{{#ifBand user}}
<a href="/band/profile/{{user._id}}">Profile</a>
{{/ifBand}}
{{#ifAdmin user}}
<a href="/admin/profile/{{user._id}}">Profile</a>
{{/ifAdmin}} --}}