<div class="text-center p-5 m-1 rounded-sm align-middle">
  <h1 class="font-weight-bold">🎵 Almost there Jammer!</h1>
  <h3 class="p-3">Please confirm your account by clicking on the link we sent to your email.</h3>
</div>