<form action="/authentication/signup-first-step" method="POST" class="text-center p-5 m-1 rounded-sm align-middle">
  <h1 class='font-weight-bold my-3'>Let's Jam! 🎵</h1>
  <h3>What's your profile type?</h3>
  <select name="role" class="custom-select w-50 text-center my-2" id="inputGroupSelect04">
    <option selectet>Choose here...</option>
    <option value="artist">Artist/Band</option>
    <option value="user">User</option>
  </select>
  <button class="btn btn-dark border-secondary my-2 w-50" type="submit">Let's go!</button>
</form>