<div class=" p-5 m-1 rounded-sm align-middle">
  <h1 class="font-weight-bold">Welcome!</h1>
  <h3>Our main goal is to make it easier for you to connect portuguese musicians. </h3>
  <h6>We started our app on November 2019 since we felt that a platform to support portuguese musicians.
    <br>
    Through this app we create a social network that allows portuguese musicians to share their events. </h6>
  <br>
  <h4>Testimonials</h4>
  <img class="img-thumbnail img-fluid" width="20%" src="/images/leopoldo.jpg" alt="">
  <h6 class="font-italic mt-2">"This platform helped me to support portuguese musicians since now I know how to look for
    events." Leopoldo Calgaro</h6>
</div>