<div class="p-5 m-1">
  <h1>Welcome!</h1>
  <p>Our main goal is to connect everybody to portuguese musicians.</p>
  {{!-- <p><a href="/authentication/signup-first-step">Sign up</a> or <a href="/authentication/login">Log in</a> to know more</p> --}}
</div>