
<div class="p-5 m-1">

    <h1>Hi, {{user.username}}!</h1>
    <br>
    You like:
    <ul>
        {{#each user.genres}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <a href="/events/list">Check all the events!</a>
</div>