<div class='center'>
    <h1>Refine your search</h1>
    <div class='d-flex'>
        <label for="genre"> Filter by Genre:</label>
        <form action="/events/filter/genre" method='POST' name='genre'>
            <select name="genre" class="form-control w-100" id="input-description">
                <option value="indie">Indie</option>
                <option value="rock">Rock</option>
                <option value="pop">Pop</option>
                <option value="rap">Rap</option>
                <option value="hip-pop">Hip-Pop</option>
                <option value="metal">Metal</option>
                <option value="fado">Fado</option>
            </select>
            <button>Let's go!</button>
        </form>

        <form action="/events/filter/artist-name" method='POST'>
            <label for="artistName"> Filter by Band Name:</label>
            <select name="artistName">
                {{#each artists}}
                <option value="{{{this.artistName}}}">{{{this.artistName}}}</option>
                {{/each}}
            </select>
            <button>Let's go</button>
        </form>
        <label for="location">Filter by location:</label>
        <form action="/events/filter/city" name='location' method='POST'>
            <label for="city">City</label> <select name="city" id="">
                <option value="Lisbon">Lisbon</option>
                <option value="Porto">Porto</option>
                <option value="Faro">Faro</option>
            </select>
            <button>Let's go!</button></form>
    </div>
</div>

