<form action="/user/edit-password/{{user._id}}" method='POST' class="text-center p-5 m-1 rounded-sm align-middle">
  <h1>Edit your password</h1>
  <label for="input-password">New password</label>
  <input type="password" name="passwordHash" id="input-password" placeholder="Your password here" />
  <button class="btn btn-dark border-secondary mt-1">Edit</button>
</form>