<div class="light-text center">
  <h1>Welcome!</h1>
  <h3>Our main goal is to connect everybody to portuguese musicians.</h3>
  <h4><a href="/authentication/signup-first-step">Sign up</a>/<a href="/authentication/login">Log in</a> to know more!</h4>
</div>