<form action="/form/contact-form/{{user._id}}" method="POST" class="text-center p-5 m-1 rounded-sm align-middle">
  <h2>Contact Form</h2>
  <label for="name">Your Username</label>
  <input type="text" name="name" class="form-control" required>
  <br>

  <label for="email">Your Email</label>
  <input type="email" name="email" class="form-control" required>
  <br>

  <label for="message">Your Message</label>
  <textarea minlength="5" maxlength="200" rows="5" cols="40" type="text" name="message" class="form-control"
    placeholder="Write your message here" required></textarea>
  <br>
  <button class="btn btn-dark border-secondary mt-1'">Send</button>
</form>