
<div class="center">
  <h1>Password Recovery</h1>

  <form action="/authentication/password-recovery" method="POST" class="light-text">

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="input-email">Email</label>
        <input type="email" class="form-control" id="input-email" name="email" placeholder="abc@def.com" required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="input-passRecoveryQuestion">Password recovery question: What's your favorite color?<label>
            <input type="text" id="input-passRecoveryQuestion" name="passRecoveryQuestion" class="form-control" placeholder="Your answer" required/>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
  </div>
