<form action="/authentication/signup-first-step" method="POST">

  <label for="input-role">What are you?</label> <br>
  <select name="role" id=>
    <option value="artist">Artist/Band</option>
    <option value="user">User</option>
    <option value="admin">Administrator</option>
  </select>
  <button>Submit</button>

</form>