<div id="fullViewDiv">

  <h1>Edit your password</h1>

  <form action="/user/edit-password/{{user._id}}" method='POST'>
    <label for="input-password">New password</label>
    <input type="password" name="passwordHash" id="input-password" placeholder="Your password here" />
    <button class="my-btn">Edit</button>
  </form>
</div>