<div>
    {{#if user}}
    <a href="/">Home</a>
    <a href="/user/profile">Profile</a>
    <form action="/authentication/logout" method="POST">
      <button>Log Out</button>
    </form>
    {{else}}
    <a href="/">Home</a>
    <a href="/authentication/login">Log In</a>
    <a href="/authentication/signup-first-step">Sign Up</a>
    {{/if}}
</div>