<h1>Edit your password</h1>

<form action="/band/edit-password/{{band._id}}" method='POST'>
    <label for="input-password">New password</label>
    <input type="password" name="passwordHash" id="input-password" placeholder="Your password here" />
    <button>Edit</button>
</form>