<h1>Add an artist</h1>
<form action="/admin/add-artist" method="POST">
    <label for="input-artistName">Artist/Band Name</label>
    <input type="text" id="input-artistName" name="artistName" placeholder="Your name here" />
    <br>

    <label for="input-description">About</label>
    <textarea name="description" id="input-description" cols="30" rows="2">Write something about them here</textarea>
    <br>

    <label for="input-genres">What is their genre? You can select more than one</label>
    <select name="genres" id="input-genres" multiple>
        <option value="indie">Indie</option>
        <option value="rock">Rock</option>
        <option value="pop">Pop</option>
        <option value="rap">Rap</option>
        <option value="hip-pop">Hip-Pop</option>
        <option value="metal">Metal</option>
        <option value="fado">Fado</option>
    </select>
    <br>

    <label for="input-artistAlbums">Their Albums</label>
    <input type="text" id="input-artistAlbums" name="artistAlbums" placeholder="Your albums here" />
    <br>

    <label for="input-username">Username</label>
    <input type="text" id="input-username" name="username" placeholder="Your username here" />
    <br>

    <label for="input-email">Email</label>
    <input type="email" id="input-email" name="email" placeholder="Your email" />
    <br>

    <label for="input-password">Password</label>
    <input type="password" name="password" id="input-password" placeholder="Your password here" />
    <br>

    <button>Add Artist!</button>

</form>